@use "@/src/styles/_mixins.scss" as *;
@use "@/src/styles/_variables.scss" as *;

.input {
  padding: 8px 12px;
  border: 1px solid $color-gray-300;
  border-radius: 8px;
  color: $color-gray-900;
  outline: none;

  &::placeholder {
    color: $color-gray-500;
  }

  &:focus {
    outline: 1.5px solid $color-brand;
  }
}
